In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

C:\Users\ankm2\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [23]:
d1 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울특별시 강서구_옐로카펫현황_20230809.csv", encoding='cp949')
d2 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시 강서구 유치원 건물현황.csv", encoding='cp949')
d3 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시 강서구 학교 기본정보.csv", encoding='cp949')
d4 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시 강서구 노인, 장애인 보호구역 지정 현황.csv")
d5 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시 강서구 유흥주점영업 인허가 정보.csv", encoding='cp949')
d6 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울특별시 강서구_공동주택 현황_20230905.csv", encoding='cp949')
d7 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울특별시 강서구_지역아동센터 시설 규모_20210608 (1).csv", encoding='cp949')
d8 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울특별시 강서구_음식물 쓰레기 다량배출사업장 현황 정보_20211112.csv", encoding='cp949')
d9 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울특별시 강서구_행정동별 자동차 등록 현황_20201231.csv", encoding='cp949')
d10 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울특별시 강서구_다중이용시설 현황_20220203.csv", encoding='cp949')
d11 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시강서구단란주점영업인허가정보.csv", encoding='cp949',error_bad_lines=False)
d12 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시강서구대규모점포인허가정보.csv", encoding='cp949',error_bad_lines=False)
d13 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시강서구어린이집정보표준데이터.csv", encoding='cp949',error_bad_lines=False)

C:\Users\ankm2\AppData\Local\Temp\ipykernel_10100\1038273138.py:11: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  d11 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시강서구단란주점영업인허가정보.csv", encoding='cp949',error_bad_lines=False)
Skipping line 5: expected 44 fields, saw 46
Skipping line 12: expected 44 fields, saw 46
Skipping line 16: expected 44 fields, saw 46
Skipping line 22: expected 44 fields, saw 46
Skipping line 25: expected 44 fields, saw 46
Skipping line 31: expected 44 fields, saw 46
Skipping line 34: expected 44 fields, saw 45
Skipping line 35: expected 44 fields, saw 46
Skipping line 37: expected 44 fields, saw 46
Skipping line 39: expected 44 fields, saw 46
Skipping line 41: expected 44 fields, saw 46
Skipping line 47: expected 44 fields, saw 46
Skipping line 56: expected 44 fields, saw 46
Skipping line 58: expected 44 fields, saw 46
Skipping line 59: expected 44 fields, saw 46
Skipping line 63: expected 44 fields, saw 46
Skipping line 70: expected 44 fields, saw 46
Skipping line 75: expected 44 fields, saw 45
Skipping line 77: expected 44 fields, saw 46
Skipping line 85: expected 44 fields, saw 46
Skipping line 88: expected 44 fields, saw 46
Skipping line 89: expected 44 fields, saw 45
Skipping line 90: expected 44 fields, saw 47
Skipping line 97: expected 44 fields, saw 46
Skipping line 101: expected 44 fields, saw 45
Skipping line 103: expected 44 fields, saw 46
Skipping line 105: expected 44 fields, saw 46
Skipping line 106: expected 44 fields, saw 46
Skipping line 109: expected 44 fields, saw 45
Skipping line 113: expected 44 fields, saw 45
Skipping line 118: expected 44 fields, saw 46
Skipping line 123: expected 44 fields, saw 45
Skipping line 124: expected 44 fields, saw 46
Skipping line 128: expected 44 fields, saw 46
Skipping line 129: expected 44 fields, saw 46
Skipping line 137: expected 44 fields, saw 45
Skipping line 145: expected 44 fields, saw 46
Skipping line 147: expected 44 fields, saw 46
Skipping line 154: expected 44 fields, saw 46
Skipping line 170: expected 44 fields, saw 46
Skipping line 172: expected 44 fields, saw 45
Skipping line 173: expected 44 fields, saw 46
Skipping line 180: expected 44 fields, saw 46
Skipping line 187: expected 44 fields, saw 45
Skipping line 188: expected 44 fields, saw 46
Skipping line 197: expected 44 fields, saw 46
Skipping line 200: expected 44 fields, saw 46
Skipping line 201: expected 44 fields, saw 46
Skipping line 204: expected 44 fields, saw 46
Skipping line 210: expected 44 fields, saw 46
Skipping line 211: expected 44 fields, saw 46
Skipping line 212: expected 44 fields, saw 46
Skipping line 216: expected 44 fields, saw 46
Skipping line 217: expected 44 fields, saw 46
Skipping line 225: expected 44 fields, saw 46
Skipping line 226: expected 44 fields, saw 46
Skipping line 229: expected 44 fields, saw 46
Skipping line 238: expected 44 fields, saw 45
Skipping line 255: expected 44 fields, saw 46
Skipping line 261: expected 44 fields, saw 45
Skipping line 263: expected 44 fields, saw 46
Skipping line 265: expected 44 fields, saw 46
Skipping line 266: expected 44 fields, saw 46
Skipping line 267: expected 44 fields, saw 45
Skipping line 271: expected 44 fields, saw 46
Skipping line 279: expected 44 fields, saw 45
Skipping line 280: expected 44 fields, saw 46
Skipping line 283: expected 44 fields, saw 46
Skipping line 284: expected 44 fields, saw 46
Skipping line 285: expected 44 fields, saw 46
Skipping line 297: expected 44 fields, saw 46
Skipping line 300: expected 44 fields, saw 45
Skipping line 302: expected 44 fields, saw 46
Skipping line 312: expected 44 fields, saw 46
Skipping line 317: expected 44 fields, saw 46
Skipping line 319: expected 44 fields, saw 45
Skipping line 321: expected 44 fields, saw 45
Skipping line 326: expected 44 fields, saw 46
Skipping line 327: expected 44 fields, saw 46
Skipping line 328: expected 44 fields, saw 45
Skipping line 332: expected 44 fields, saw 46
Skipping line 338: expected 44 fields, saw 46
Skipping line 341: expected 44 fields, saw 45
Skipping line 342: expected 44 fields, saw 46
Skipping line 343: expected 44 fields, saw 46
Skipping line 354: expected 44 fields, saw 46
Skipping line 358: expected 44 fields, saw 46
Skipping line 365: expected 44 fields, saw 46
Skipping line 367: expected 44 fields, saw 46
Skipping line 368: expected 44 fields, saw 46
Skipping line 370: expected 44 fields, saw 46
Skipping line 378: expected 44 fields, saw 46
Skipping line 382: expected 44 fields, saw 46
Skipping line 389: expected 44 fields, saw 46
Skipping line 390: expected 44 fields, saw 46
Skipping line 392: expected 44 fields, saw 46
Skipping line 393: expected 44 fields, saw 46
Skipping line 400: expected 44 fields, saw 45
Skipping line 401: expected 44 fields, saw 46
Skipping line 406: expected 44 fields, saw 46
Skipping line 408: expected 44 fields, saw 46
Skipping line 410: expected 44 fields, saw 46
Skipping line 411: expected 44 fields, saw 46
Skipping line 413: expected 44 fields, saw 46
Skipping line 414: expected 44 fields, saw 46
Skipping line 415: expected 44 fields, saw 46
Skipping line 416: expected 44 fields, saw 45
Skipping line 417: expected 44 fields, saw 46
Skipping line 418: expected 44 fields, saw 46
Skipping line 419: expected 44 fields, saw 46
Skipping line 420: expected 44 fields, saw 46
Skipping line 423: expected 44 fields, saw 46
Skipping line 424: expected 44 fields, saw 46
Skipping line 426: expected 44 fields, saw 46
Skipping line 427: expected 44 fields, saw 46
Skipping line 431: expected 44 fields, saw 45
Skipping line 433: expected 44 fields, saw 46
Skipping line 434: expected 44 fields, saw 46
Skipping line 436: expected 44 fields, saw 45
Skipping line 437: expected 44 fields, saw 46
Skipping line 440: expected 44 fields, saw 46
Skipping line 441: expected 44 fields, saw 46
Skipping line 442: expected 44 fields, saw 46
Skipping line 444: expected 44 fields, saw 46
Skipping line 445: expected 44 fields, saw 46
Skipping line 446: expected 44 fields, saw 46
Skipping line 447: expected 44 fields, saw 46
Skipping line 449: expected 44 fields, saw 46
Skipping line 450: expected 44 fields, saw 45
Skipping line 451: expected 44 fields, saw 46
Skipping line 452: expected 44 fields, saw 46
Skipping line 453: expected 44 fields, saw 46
Skipping line 454: expected 44 fields, saw 46
Skipping line 455: expected 44 fields, saw 46
Skipping line 456: expected 44 fields, saw 45
Skipping line 457: expected 44 fields, saw 46
Skipping line 458: expected 44 fields, saw 46
Skipping line 460: expected 44 fields, saw 45
Skipping line 461: expected 44 fields, saw 45
Skipping line 462: expected 44 fields, saw 46
Skipping line 463: expected 44 fields, saw 46
Skipping line 464: expected 44 fields, saw 45
Skipping line 465: expected 44 fields, saw 45
Skipping line 466: expected 44 fields, saw 46
Skipping line 467: expected 44 fields, saw 46
Skipping line 468: expected 44 fields, saw 45
Skipping line 469: expected 44 fields, saw 46
Skipping line 471: expected 44 fields, saw 46
Skipping line 472: expected 44 fields, saw 46
Skipping line 473: expected 44 fields, saw 46
Skipping line 474: expected 44 fields, saw 46
Skipping line 475: expected 44 fields, saw 46
Skipping line 476: expected 44 fields, saw 46
Skipping line 477: expected 44 fields, saw 46
Skipping line 478: expected 44 fields, saw 46
Skipping line 479: expected 44 fields, saw 46
Skipping line 480: expected 44 fields, saw 46
Skipping line 481: expected 44 fields, saw 46
Skipping line 482: expected 44 fields, saw 45
Skipping line 483: expected 44 fields, saw 45
Skipping line 484: expected 44 fields, saw 45
Skipping line 485: expected 44 fields, saw 45
Skipping line 486: expected 44 fields, saw 45
Skipping line 487: expected 44 fields, saw 45
Skipping line 488: expected 44 fields, saw 45
Skipping line 489: expected 44 fields, saw 45
Skipping line 490: expected 44 fields, saw 45
Skipping line 491: expected 44 fields, saw 45
Skipping line 492: expected 44 fields, saw 45
Skipping line 493: expected 44 fields, saw 45
Skipping line 494: expected 44 fields, saw 45

C:\Users\ankm2\AppData\Local\Temp\ipykernel_10100\1038273138.py:12: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  d12 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시강서구대규모점포인허가정보.csv", encoding='cp949',error_bad_lines=False)
Skipping line 16: expected 26 fields, saw 27
Skipping line 18: expected 26 fields, saw 27
Skipping line 20: expected 26 fields, saw 27
Skipping line 28: expected 26 fields, saw 28
Skipping line 29: expected 26 fields, saw 27
Skipping line 35: expected 26 fields, saw 27
Skipping line 38: expected 26 fields, saw 27
Skipping line 40: expected 26 fields, saw 29
Skipping line 41: expected 26 fields, saw 28
Skipping line 42: expected 26 fields, saw 27
Skipping line 43: expected 26 fields, saw 27
Skipping line 44: expected 26 fields, saw 27
Skipping line 46: expected 26 fields, saw 27
Skipping line 47: expected 26 fields, saw 27

C:\Users\ankm2\AppData\Local\Temp\ipykernel_10100\1038273138.py:13: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  d13 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/원본데이터/서울시강서구어린이집정보표준데이터.csv", encoding='cp949',error_bad_lines=False)
Skipping line 6: expected 62 fields, saw 63
Skipping line 11: expected 62 fields, saw 63
Skipping line 22: expected 62 fields, saw 63
Skipping line 25: expected 62 fields, saw 63
Skipping line 37: expected 62 fields, saw 63
Skipping line 40: expected 62 fields, saw 63
Skipping line 41: expected 62 fields, saw 63
Skipping line 43: expected 62 fields, saw 63
Skipping line 45: expected 62 fields, saw 63
Skipping line 49: expected 62 fields, saw 63
Skipping line 50: expected 62 fields, saw 63
Skipping line 53: expected 62 fields, saw 63
Skipping line 57: expected 62 fields, saw 63
Skipping line 58: expected 62 fields, saw 63
Skipping line 59: expected 62 fields, saw 63
Skipping line 60: expected 62 fields, saw 63
Skipping line 61: expected 62 fields, saw 63
Skipping line 62: expected 62 fields, saw 63
Skipping line 63: expected 62 fields, saw 63
Skipping line 65: expected 62 fields, saw 63
Skipping line 66: expected 62 fields, saw 63
Skipping line 67: expected 62 fields, saw 63
Skipping line 68: expected 62 fields, saw 63
Skipping line 69: expected 62 fields, saw 63
Skipping line 70: expected 62 fields, saw 63
Skipping line 71: expected 62 fields, saw 63
Skipping line 72: expected 62 fields, saw 63
Skipping line 74: expected 62 fields, saw 64
Skipping line 75: expected 62 fields, saw 63
Skipping line 76: expected 62 fields, saw 63
Skipping line 77: expected 62 fields, saw 63
Skipping line 78: expected 62 fields, saw 63
Skipping line 79: expected 62 fields, saw 63
Skipping line 80: expected 62 fields, saw 63
Skipping line 81: expected 62 fields, saw 63
Skipping line 82: expected 62 fields, saw 63
Skipping line 83: expected 62 fields, saw 63
Skipping line 86: expected 62 fields, saw 63
Skipping line 88: expected 62 fields, saw 63
Skipping line 91: expected 62 fields, saw 63
Skipping line 92: expected 62 fields, saw 63
Skipping line 96: expected 62 fields, saw 63
Skipping line 105: expected 62 fields, saw 63
Skipping line 106: expected 62 fields, saw 63
Skipping line 108: expected 62 fields, saw 63
Skipping line 109: expected 62 fields, saw 63
Skipping line 120: expected 62 fields, saw 63
Skipping line 130: expected 62 fields, saw 63
Skipping line 135: expected 62 fields, saw 63
Skipping line 139: expected 62 fields, saw 63
Skipping line 143: expected 62 fields, saw 63
Skipping line 155: expected 62 fields, saw 63
Skipping line 203: expected 62 fields, saw 63
Skipping line 206: expected 62 fields, saw 63
Skipping line 212: expected 62 fields, saw 63
Skipping line 213: expected 62 fields, saw 63
Skipping line 215: expected 62 fields, saw 63
Skipping line 217: expected 62 fields, saw 63
Skipping line 220: expected 62 fields, saw 63
Skipping line 228: expected 62 fields, saw 63
Skipping line 230: expected 62 fields, saw 63
Skipping line 235: expected 62 fields, saw 63
Skipping line 238: expected 62 fields, saw 63
Skipping line 240: expected 62 fields, saw 63
Skipping line 241: expected 62 fields, saw 63
Skipping line 242: expected 62 fields, saw 63
Skipping line 243: expected 62 fields, saw 63
Skipping line 244: expected 62 fields, saw 63
Skipping line 247: expected 62 fields, saw 63
Skipping line 254: expected 62 fields, saw 63
Skipping line 258: expected 62 fields, saw 63
Skipping line 262: expected 62 fields, saw 63
Skipping line 263: expected 62 fields, saw 63
Skipping line 264: expected 62 fields, saw 63
Skipping line 266: expected 62 fields, saw 63
Skipping line 268: expected 62 fields, saw 63
Skipping line 269: expected 62 fields, saw 63
Skipping line 270: expected 62 fields, saw 63
Skipping line 273: expected 62 fields, saw 63
Skipping line 275: expected 62 fields, saw 63
Skipping line 280: expected 62 fields, saw 63
Skipping line 281: expected 62 fields, saw 63
Skipping line 283: expected 62 fields, saw 63
Skipping line 284: expected 62 fields, saw 63
Skipping line 292: expected 62 fields, saw 63
Skipping line 293: expected 62 fields, saw 63
Skipping line 294: expected 62 fields, saw 63
Skipping line 299: expected 62 fields, saw 63
Skipping line 300: expected 62 fields, saw 63
Skipping line 301: expected 62 fields, saw 63
Skipping line 302: expected 62 fields, saw 63
Skipping line 304: expected 62 fields, saw 63
Skipping line 306: expected 62 fields, saw 63
Skipping line 310: expected 62 fields, saw 63
Skipping line 315: expected 62 fields, saw 63
Skipping line 321: expected 62 fields, saw 63
Skipping line 323: expected 62 fields, saw 63
Skipping line 324: expected 62 fields, saw 63
Skipping line 329: expected 62 fields, saw 63
Skipping line 331: expected 62 fields, saw 63
Skipping line 334: expected 62 fields, saw 63
Skipping line 337: expected 62 fields, saw 63
Skipping line 341: expected 62 fields, saw 63
Skipping line 344: expected 62 fields, saw 63
Skipping line 345: expected 62 fields, saw 63
Skipping line 350: expected 62 fields, saw 63
Skipping line 352: expected 62 fields, saw 63
Skipping line 357: expected 62 fields, saw 63
Skipping line 358: expected 62 fields, saw 63
Skipping line 360: expected 62 fields, saw 63
Skipping line 364: expected 62 fields, saw 63
Skipping line 365: expected 62 fields, saw 63
Skipping line 366: expected 62 fields, saw 63
Skipping line 367: expected 62 fields, saw 63
Skipping line 368: expected 62 fields, saw 63
Skipping line 369: expected 62 fields, saw 63
Skipping line 370: expected 62 fields, saw 63
Skipping line 371: expected 62 fields, saw 63
Skipping line 372: expected 62 fields, saw 63
Skipping line 373: expected 62 fields, saw 63
Skipping line 374: expected 62 fields, saw 63
Skipping line 375: expected 62 fields, saw 63
Skipping line 377: expected 62 fields, saw 63
Skipping line 378: expected 62 fields, saw 63
Skipping line 383: expected 62 fields, saw 63
Skipping line 385: expected 62 fields, saw 63
Skipping line 389: expected 62 fields, saw 63
Skipping line 390: expected 62 fields, saw 63
Skipping line 393: expected 62 fields, saw 63
Skipping line 394: expected 62 fields, saw 63
Skipping line 404: expected 62 fields, saw 63
Skipping line 407: expected 62 fields, saw 63
Skipping line 409: expected 62 fields, saw 63
Skipping line 410: expected 62 fields, saw 63
Skipping line 412: expected 62 fields, saw 63
Skipping line 414: expected 62 fields, saw 63
Skipping line 416: expected 62 fields, saw 63
Skipping line 421: expected 62 fields, saw 63
Skipping line 422: expected 62 fields, saw 63
Skipping line 425: expected 62 fields, saw 63
Skipping line 426: expected 62 fields, saw 63
Skipping line 430: expected 62 fields, saw 63
Skipping line 433: expected 62 fields, saw 63
Skipping line 434: expected 62 fields, saw 63
Skipping line 435: expected 62 fields, saw 63
Skipping line 442: expected 62 fields, saw 63
Skipping line 444: expected 62 fields, saw 63
Skipping line 450: expected 62 fields, saw 63
Skipping line 452: expected 62 fields, saw 63
Skipping line 455: expected 62 fields, saw 63
Skipping line 456: expected 62 fields, saw 63
Skipping line 460: expected 62 fields, saw 63
Skipping line 463: expected 62 fields, saw 63
Skipping line 467: expected 62 fields, saw 63
Skipping line 473: expected 62 fields, saw 63
Skipping line 474: expected 62 fields, saw 63
Skipping line 481: expected 62 fields, saw 63
Skipping line 483: expected 62 fields, saw 63
Skipping line 488: expected 62 fields, saw 63
Skipping line 492: expected 62 fields, saw 63
Skipping line 502: expected 62 fields, saw 63
Skipping line 506: expected 62 fields, saw 63
Skipping line 512: expected 62 fields, saw 63
Skipping line 518: expected 62 fields, saw 63
Skipping line 520: expected 62 fields, saw 63
Skipping line 521: expected 62 fields, saw 63
Skipping line 531: expected 62 fields, saw 63
Skipping line 535: expected 62 fields, saw 63
Skipping line 536: expected 62 fields, saw 63
Skipping line 556: expected 62 fields, saw 63
Skipping line 561: expected 62 fields, saw 63
Skipping line 562: expected 62 fields, saw 63
Skipping line 563: expected 62 fields, saw 63
Skipping line 564: expected 62 fields, saw 63
Skipping line 567: expected 62 fields, saw 63
Skipping line 569: expected 62 fields, saw 63
Skipping line 576: expected 62 fields, saw 63
Skipping line 582: expected 62 fields, saw 63
Skipping line 585: expected 62 fields, saw 63
Skipping line 586: expected 62 fields, saw 63
Skipping line 596: expected 62 fields, saw 64
Skipping line 597: expected 62 fields, saw 63

In [ ]:
pd.set_option('display.max_columns', 10)

In [46]:
d13.head()

,시군구명,어린이집코드,어린이집명,어린이집유형,운영현황,...,교직원현황-간호조무사,교직원현황-조리원,교직원현황-사무직원,교직원현황-총계,데이터수집일
0,강서구,11500000749,청정원 마곡 어린이집,직장,정상,...,0.0,1.0,0.0,6.0,2022-10-26 22:04:07.0
1,강서구,11500000748,등촌제일어린이집,가정,정상,...,0.0,1.0,0.0,5.0,2022-10-26 22:04:06.0
2,강서구,11500000747,홈앤쇼핑 어린이집,직장,정상,...,0.0,1.0,0.0,7.0,2022-10-26 22:04:07.0
3,강서구,11500000746,DYPNF 직장어린이집,직장,정상,...,0.0,1.0,0.0,4.0,2022-10-26 22:04:06.0
4,강서구,11500000744,성민가정어린이집,가정,정상,...,0.0,0.0,0.0,6.0,2022-10-26 22:04:07.0

In [10]:
옐로카펫 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/1.옐로카펫현황(2023).csv", encoding='cp949')
유치원 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/2.유치원(2024).csv", encoding='cp949')
학교 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/3.학교(2024).csv",encoding='cp949')
노인장애인 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/4.노인장애인보호구역(2024).csv")
유흥 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/5.유흥주점(2024).csv")
공동주택 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/6.공동주택(2023).csv", encoding='cp949')
아동센터 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/7.지역아동센터(2021).csv", encoding='cp949')
음쓰 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/8.음식물쓰레기(2021).csv", encoding='cp949')
자동차 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/9.자동차(2020).csv", encoding='cp949')
다중이용시설 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/10.다중이용시설(2022).csv", encoding='cp949')
단란주점 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/11.단란주점(2024).csv")
대규모점포 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/12.대규모점포(2023).csv")
어린이집 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/13.어린이집(2024).csv")

In [11]:
초딩 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/강서초딩.csv",encoding='cp949')
중딩 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/강서중딩.csv")
고딩 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/강서고딩.csv",encoding='cp949')
평생 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/강서평생학교.csv",encoding='cp949')
특수 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/강서특수학교.csv",encoding='cp949')

In [75]:
어린이집.head()

,어린이집명,운영현황,주소,행정동,위도,경도
0,청정원 마곡 어린이집,정상,서울특별시 강서구 초원로16길 12,방화1동,37.566905,126.815009
1,등촌제일어린이집,정상,서울특별시 강서구 공항대로53가길 50 1층,등촌1동,37.555531,126.859070
2,홈앤쇼핑 어린이집,정상,서울특별시 강서구 공항대로 150 홈앤쇼핑 3층,발산1동,37.559466,126.824438
3,DYPNF 직장어린이집,정상,서울특별시 강서구 마곡중앙8로7길 39 2층,가양1동,37.564404,126.838941
4,근로복지공단 곰달래어린이집,정상,서울특별시 강서구 곰달래로53길 30-20,화곡4동,37.533649,126.860191

In [64]:
import pandas as pd

# 예제용 데이터프레임 생성
초딩 = 초딩.head(2)
중딩 = 중딩.head(2)
고딩 = 고딩.head(2)
특수 = 특수.head(2)
평생 = 평생.head(2)


학교티비 = [초딩, 중딩, 고딩, 특수, 평생]

for 강서티비 in 학교티비:
    display(강서티비)

,학교종류명,학교명,주소,행정동,위도,경도
0,초등학교,유석초등학교,서울특별시 강서구 화곡로69길 9,등촌3동,37.560802,126.853779
1,초등학교,서울화일초등학교,서울특별시 강서구 까치산로10길 70,화곡본동,37.540712,126.847471

,학교종류명,학교명,주소,행정동,위도,경도
0,중학교,마곡하늬중학교,서울특별시 강서구 마곡서1로 16,공항동,37.558168,126.820985
1,중학교,화곡중학교,서울특별시 강서구 강서로45길 70,발산1동,37.548406,126.832657

,학교종류명,학교명,주소,행정동,위도,경도
0,고등학교,서울신정고등학교,서울특별시 강서구 등촌로13아길 20,화곡4동,37.538412,126.857172
1,고등학교,서울항공비즈니스고등학교,서울특별시 강서구 방화대로34길 13,방화1동,37.569218,126.817041

,학교종류명,학교명,주소,행정동,위도,경도
0,특수학교,서울서진학교,서울특별시 강서구 양천로55길 22,가양2동,37.565477,126.850622
1,특수학교,교남학교,서울특별시 강서구 까치산로22길 38,화곡6동,37.547971,126.852349

,학교종류명,학교명,주소,행정동,위도,경도
0,평생학교(중)-2년6학기,학력인정 성지중학교(2년제),서울특별시 강서구 화곡로 182,화곡본동,37.542014,126.841891
1,평생학교(고)-2년6학기,학력인정 성지고등학교(2년제),서울특별시 강서구 화곡로 182,화곡본동,37.542014,126.841891

In [58]:
#컬럼확인
어린이집.count()

어린이집명    604
운영현황     604
주소       604
행정동      574
위도       574
경도       574
dtype: int64

In [59]:
#일단, 5,11,12,13 폐업/휴업 제거
어린이집['운영현황'].value_counts()

정상    307
폐지    277
휴지     15
재개      5
Name: 운영현황, dtype: int64

In [61]:
def exclude_rows_with_keywords(dataframe, keywords):
    for keyword in keywords:
        dataframe = dataframe[~dataframe["운영현황"].str.contains(keyword)]
    return dataframe

In [64]:
keywords = ["폐지"]
어린이집 = exclude_rows_with_keywords(어린이집, keywords)

In [65]:
어린이집['운영현황'].value_counts()

정상    307
휴지     15
재개      5
Name: 운영현황, dtype: int64

In [66]:
어린이집.to_csv('C:/Users/ankm2/Desktop/2024 강서구 전처리/13.어린이집(2024).csv', index=False)

In [131]:
초딩.count()

학교종류명    35
학교명      35
주소       35
행정동      35
위도       35
경도       35
dtype: int64

In [133]:
def count_rows_with_keywords(dataframe, column_name, keywords):
    keyword_counts = {}
    for keyword in keywords:
        filtered_df = dataframe[dataframe[column_name].str.contains(keyword, na=False, regex=True)]
        keyword_count = len(filtered_df)
        keyword_counts[keyword] = keyword_count
    return keyword_counts

In [134]:
column_name = '행정동'
keywords = keywords = ['염창동', 
                       '등촌1동', 
                       '등촌2동',
                       '등촌3동',
                       '화곡본동',
                       '화곡1동',
                       '화곡2동',
                       '화곡3동',
                       '화곡4동',
                       '화곡6동',
                       '화곡8동',
                       '우장산동',
                       '가양1동',
                       '가양2동',
                       '가양3동',
                       '발산1동',
                       '공항동',
                       '방화1동',
                       '방화2동',
                       '방화3동']
result = count_rows_with_keywords(초딩, column_name, keywords)
print(result)

{'염창동': 3, '등촌1동': 1, '등촌2동': 2, '등촌3동': 5, '화곡본동': 2, '화곡1동': 2, '화곡2동': 1, '화곡3동': 0, '화곡4동': 1, '화곡6동': 2, '화곡8동': 0, '우장산동': 1, '가양1동': 1, '가양2동': 1, '가양3동': 1, '발산1동': 3, '공항동': 2, '방화1동': 3, '방화2동': 1, '방화3동': 3}

In [9]:
강서시설 = pd.read_csv("C:/Users/ankm2/Desktop/공공자전거 대여소 정보.csv",encoding='cp949')

In [10]:
강서시설.count()

자치구     2749
상세주소    2749
위도      2749
경도      2749
dtype: int64

In [11]:
강서시설['자치구'].value_counts()

송파구     218
강서구     189
강남구     171
영등포구    155
서초구     148
노원구     136
강동구     122
마포구     120
구로구     114
양천구     112
종로구     103
은평구      98
중랑구      93
성동구      92
용산구      91
중구       88
광진구      86
동대문구     84
성북구      82
서대문구     81
관악구      79
도봉구      76
금천구      76
동작구      74
강북구      61
Name: 자치구, dtype: int64

In [7]:
def count_rows_with_keywords(dataframe, column_name, keywords):
    keyword_counts = {}
    for keyword in keywords:
        filtered_df = dataframe[dataframe[column_name].str.contains(keyword, na=False, regex=True)]
        keyword_count = len(filtered_df)
        keyword_counts[keyword] = keyword_count
    return keyword_counts

In [6]:
column_name = '행정동명'
keywords = keywords = ['염창동', 
                       '등촌1동', 
                       '등촌2동',
                       '등촌3동',
                       '화곡본동',
                       '화곡1동',
                       '화곡2동',
                       '화곡3동',
                       '화곡4동',
                       '화곡6동',
                       '화곡8동',
                       '우장산동',
                       '가양1동',
                       '가양2동',
                       '가양3동',
                       '발산1동',
                       '공항동',
                       '방화1동',
                       '방화2동',
                       '방화3동']
result = count_rows_with_keywords(강서시설, column_name, keywords)
print(result)

{'염창동': 916, '등촌1동': 870, '등촌2동': 392, '등촌3동': 1165, '화곡본동': 755, '화곡1동': 1605, '화곡2동': 424, '화곡3동': 727, '화곡4동': 758, '화곡6동': 1062, '화곡8동': 654, '우장산동': 837, '가양1동': 3087, '가양2동': 235, '가양3동': 201, '발산1동': 1859, '공항동': 966, '방화1동': 1233, '방화2동': 960, '방화3동': 283}

In [15]:
# value counts
힝구리 = pd.read_csv("C:/Users/ankm2/Desktop/2024 강서구 전처리/힝구리퐁퐁티비.csv",encoding='cp949')

In [16]:
# 출력되는 최대 행 수 설정
pd.set_option('display.max_rows', None)

# '힝구리' 데이터프레임의 '위도' 열의 값의 빈도 계산
latitude_counts = 힝구리['위도'].value_counts()

# 전체 '위도' 값 출력
print(latitude_counts)

위도
37.566399    1
37.562259    1
37.549096    1
37.556795    1
37.566809    1
37.557345    1
37.559835    1
37.559963    1
37.557976    1
37.554428    1
37.556833    1
37.557868    1
37.558408    1
37.538961    1
37.549583    1
37.551363    1
37.547920    1
37.556906    1
37.552225    1
37.550078    1
37.549514    1
37.571370    1
37.561998    1
37.566974    1
37.530243    1
37.554534    1
37.532394    1
37.545389    1
37.531021    1
37.531983    1
37.539308    1
37.545605    1
37.547118    1
37.552893    1
37.551164    1
37.556489    1
37.559271    1
37.571997    1
37.539139    1
37.547544    1
37.571064    1
37.548838    1
37.531522    1
37.542841    1
37.533071    1
37.564813    1
37.541580    1
37.565053    1
37.550657    1
37.564264    1
37.550800    1
37.571979    1
37.550752    1
37.568105    1
37.545897    1
37.553275    1
37.560633    1
37.555891    1
37.547818    1
37.557954    1
37.564269    1
37.563444    1
37.565948    1
37.568601    1
37.560300    1
37.555938    1
37.535492    1
37.561612    1
37.562776    1
37.570645    1
37.539066    1
Name: count, dtype: int64